/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
      Author: Julien Esposito
      Date:   01/12/2017

   Filename:         c_styles.css
   Supporting Files: none

*/
